<h1>Question</h1>
<p>Ask your coach a question</p>

<form action="/answer">
  <input type="text" name="input" placeholder="What would you say to your coach?">
  <input type="submit" value="Ask!">
</form>

